<%- include('head'); -%>
<!DOCTYPE html>
<html>
<head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">        
        <link rel="stylesheet" href="/index.css">

</head>
<body>

<h2 style="text-align:center">Configurar Perfil</h2>

<div class="card2">

  <img src="<%= avata %>" alt="ZallyBot" style="width:100%">
  <h1><%= name %></h1>
                    
                                            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Dinheiro:</span> <%= economiagrana %></li>
<br>
                                            <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Banco:</span> <%= bancy %></li>
                                            <br>
                        <li class="mb-2 mb-xl-3 display-28"><span class="display-26 text-secondary me-2 font-weight-600">Descriçao:</span></span><br> <%= desc %></li>
                        
                        <form method="POST">
                        <p style="font-style: italic;" class="disabled">Editar Apelido</p>
                        <input style="margin-top: -10px;" type="text" class="form-control" name="nome" value="<%= apelido %>" placeholder="Coloque seu Apelido no Site">  
                    
                    <br>
                    <p style="font-style: italic;" class="disabled">Editar Background.</p>
                    <input style="margin-top: -10px;" type="text" class="form-control" name="wallpaper" value="<%= wall %>" placeholder="Editar Background.">  
                
                <br>     
                <p style="font-style: italic;" class="disabled">Editar Sobremim.</p>
                <input style="margin-top: -10px;" type="text" class="form-control" name="sobre" value="<%= desc %>" placeholder="Editar seu Sobremim">  
            
            <br>                                 
                    <p>
                    <button type="submit" class="btn btn-success text-white" style="font-size: 20px;">
                        <i class="iconify" data-icon="cil:save"></i> Save Settings
                    </button>   </p>
                </form>         

</div>

</body>
</html>
