<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Dashboard shadow</title>
    <link rel="stylesheet" href="/style.css">
    <!-- Boxiocns CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Shadow Slortez Dashboard">
            <meta property="og:title" content="Slortez Dashboard">
            <meta property="og:type" content="article">
            <meta property="og:url" content="https://shadowslordashboard.tk/Patch">
            <meta property="og:image" content="https://cdn.discordapp.com/attachments/885348891820707871/909593147535945818/unknown.png">
            <meta property="og:site_name" content="Patch">
            <meta property="fb:admins" content="100001589384006">
            <meta property="fb:app_id" content="1778569572376490">
            <meta property="og:description" content="Atualizaçao da Shadow Slor">
            <meta name="twitter:card" content="summary_large_image">
            <meta name="twitter:site" content="@Allyson.S16#5586">
            <meta name="twitter:creator" content="@Allyson.S16#5586">
            <meta name="twitter:title" content="Shadow Slor Dashboard">
            <meta name="twitter:description" content="@Allyson.S16#5586">
            <%- include('header'); -%>
            <!DOCTYPE html>
            <html lang="en">
                <head>
                    <!--Meta Tags-->
                    <meta charset="utf-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1">
                    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">        
                    <link rel="stylesheet" href="/index.css">
                    <title>Shadow Slor Dashboard</title>   
                    <meta name="description" content="Shadow Slortez Dashboard">
                        <meta property="og:title" content="Slortez Dashboard">
                        <meta property="og:type" content="article">
                        <meta property="og:url" content="https://noice.allysonluiz1.repl.co/">
                        <meta property="og:image" content="blob:https://imgur.com/d0d720b1-9501-4181-8aad-c12ec1416cf5">
                        <meta property="og:site_name" content="Shadow Slortez Dashboard">
                        <meta property="fb:admins" content="100001589384006">
                        <meta property="fb:app_id" content="1778569572376490">
                        <meta property="og:description" content="Shadow Slortez">
                        <meta name="twitter:card" content="summary_large_image">
                        <meta name="twitter:site" content="@Allyson.S16#5586">
                        <meta name="twitter:creator" content="@Allyson.S16#5586">
                        <meta name="twitter:title" content="Shadow Slor Dashboard">
                        <meta name="twitter:description" content="@Allyson.S16#5586">
                        <meta name="twitter:image:src" content="blob:https://imgur.com/d0d720b1-9501-4181-8aad-c12ec1416cf5z">    
                </head>
                <body>
                
                    <!--HEADER-->
                    
                    <!--MAIN BODY-->
                  <section style="margin-bottom: 0;">
                    <div class="d-flex justify-content-center head">
                        <h1 style="font-weight: 900;">
                            <img src="<%= botClient.user.displayAvatarURL({size: 4096}) %>" style="width: 4%;margin-top: -0.5%;"> <span style="font-size: 40px;"><span style="color:#2b447a;"><%= botClient.user.username %></span></span>
                          </h1>
                    
                    </div>
                    <div class="d-flex justify-content-center subtext">
                        <p style="font-style: italic;font-size: 30px;">Shadow Bot E um Bot Feito Para Utilidades atualmente em <%= Guild %> guilds</p>
                        
                    </div>
            
                
            
            </head>
            <body>
            
            
            
                 </head>
<body>
  <div class="sidebar close">
    <div class="logo-details">
      <i>S</i>
      <span class="logo_name">Userpage</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="dashboard">
          <i class='bx bx-grid-alt' ></i>
          <span class="link_name">Dashboard</span>
        </a>
      <li>
        <a href="countdown">
          <i class='bx bx-grid-alt' ></i>
          <span class="link_name">countdown</span>
        </a>
      </li>
      <li>


      </li>
      <li>

        </ul>
      </li>
      <li>
        <a href="https://discord.com/api/oauth2/authorize?client_id=858551145860825118&permissions=8&scope=bot%20applications.commands">
          <i class='bx bx-compass' ></i>
          <span class="link_name">invite</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="https://discord.com/api/oauth2/authorize?client_id=858551145860825118&permissions=8&scope=bot%20applications.commands">invite</a></li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-cog' ></i>
          <span class="link_name">Setting</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Setting</a></li>
        </ul>
      </li>
      <li>
    <div class="profile-details">
      <div class="profile-content">
        <img src="<%= botClient.user.displayAvatarURL({size: 128}) %>" alt="profileImg">
      </div>
      <div class="name-job">
        <div class="profile_name"><%= name %></div>
        <div class="job"></div>
      </div>
      <i class='bx bx-log-out' ></i>
    </div>
  </li>
</ul>
  </div>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      
      <h1>Countdown</br>
      
    </div>
      <br><br>
      <br><br>
      <div class="home-content">
                <div class="col-md-7 col-lg-6 pe-lg-4 pe-xl-7">
                    <br><br>
                    <div class="flex-2">
                      <h5>Current Store</h5>
                      <br><br>
                      <img src="https://ctk-api.herokuapp.com/fortnite-shop" alt="Current Store" width="500" height="1000">                
  </section>

  <script src="/script.js"></script>
