<!DOCTYPE html>
<html lang='en'>
<head>
	<meta class="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>ZallyBot</title>
	<!-- Don't forget to add your metadata here -->
	<link rel="stylesheet" href="/style.min.css">
</head>
<body>
	<!-- Hero(extended) navbar -->
	<div class="navbar navbar--extended">
		<nav class="nav__mobile"></nav>
		<div class="container">
			<div class="navbar__inner">
				<a href='/' class="navbar__logo">ZallyBot</a>
				<nav class="navbar__menu">

					<ul>
						<li><a href="Dashboard">Dashboard</a></li>
						<li><a href="#">Option 2</a></li>            
					</ul>
				</nav>
				<div class="navbar__menu-mob"><a href="" id='toggle'><svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" class=""></path></svg></a></div>
			</div>
		</div>
	</div>
	<!-- Hero unit -->
	<div class="hero">
		<div class="hero__overlay hero__overlay--gradient"></div>
		<div class="hero__mask"></div>
		<div class="hero__inner">
			<div class="container">
				<div class="hero__content">
					<div class="hero__content__inner" id='navConverter'>
						<h1 class="hero__title">ZallyBot</h1>
						<p> e uma bot desenvolvida para: <br>diversão,utilidades,e moderaçao </p>
						<a href="#" class="button button__accent">Convite</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hero__sub">
		<span id="scrollToNext" class="scroll">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class='hero__sub__down' fill="currentColor" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3z"/></svg>
		</span>
	</div>
	<!-- Steps -->
	<div class="steps landing__section">
		<div class="container">

      <section>
        <center>
            <h1 style="font-size: 75px;color:#828cff"><i class="iconify" data-icon="ant-design:dashboard-filled"></i><b><%= guild.name %></b> | Dashboard</h1>
        </center>
        <br>
        <div class="form-body">
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3 style="color:#6bfc03">Server Settings</h3>
                        <p>Change the Server Settings of <%= botClient.user.username %> in <%= guild.name %>.</p>
                        <h3 style="color:#f4fc03">Pt-br</h3>
                        <p>Configure o Prefixo do seu servidor</p>
                        <p>Change the Server Settings of <%= botClient.user.username %> in <%= guild.name %>.</p>
                        <h3 style="color:#03e3fc">Membros</h3>
                        <p>Sua Guilda Contem <%= guild.memberCount %> Membros</p>
                        
                        <form method="POST">
                            <h5 style="margin-bottom: 0.5rem; margin-top: 10px;color:#828cff">Prefix:</h5>
                            <p style="font-style: italic;" class="disabled">The prefix that is added to discord messages in order to invoke commands.</p>
                            <input style="margin-top: -10px;" type="text" class="form-control" name="prefix" value="<%= botClient.settings.get(guild.id, 'prefix') %>" placeholder="Your prefix.">
                        <form method="POST">
                        
                            
                            <h5 style="margin-bottom: 0.5rem; margin-top: 10px;color:#828cff">Background:</h5>
                            <p style="font-style: italic;" class="disabled">Set Wallpaper.</p>
                            <input style="margin-top: -10px;" type="text" class="form-control" name="wallpaper" value="<%= botClient.settings.get(guild.id, `${test}wallpaper`) %>" placeholder="Put Link Wallpaper">      
                            <br><br>
                            <br><br>
                            <h5 style="margin-bottom: 0.5rem; margin-top: 10px;color:#fc2c03">Cargo Para Usar os Comandos em qualquer lugar</h5>
                            
                            <p style="font-style: italic;" class="disabled">Todos os usuarios com este cargo pode usar o comando em qualquer lugar do servidor</p>
                            <select 
                                class="form-control selectpicker"
                                multiple  
                                data-width="100%"
                                data-live-search="true" 
                                aria-label="Dj Roles"
                                name="djroles"
                            >
                                <% guild.roles.cache.filter(role=>!role.managed).sort((a, b) => b.rawPosition - a.rawPosition).forEach((role, i) => { %>
                                    <option value="<%= role.id%>" 
                                        <%= botClient.settings.get(guild.id, "djroles").includes(role.id) ? "selected" : "" %>> @<%= role.name%>
                                    </option>
                                <% }) %>
                            </select>                                    

                            <br><br><br>
                            <h5 style="margin-bottom: 0.5rem; margin-top: 10px;color:#fc0377">Nsfw | Roles</h5>
                            <p style="font-style: italic;" class="disabled">Nsfw Role| Com estes cargos selecionados apenas os selecionados podem usar!</p>
                            <select class="round">
                                <% guild.roles.cache.filter(role=>!role.managed).sort((a, b) => b.rawPosition - a.rawPosition).forEach((role, i) => { %>
                                    <option value="<%= role.id%>" 
                                        <%= botClient.settings.get(guild.id, "nsfw").includes(role.id) ? "selected" : "" %>> @<%= role.name%>
                                    </option>
                                <% }) %>
                            </select>
                            <br><br><br><br>









                            <h5 style="margin-bottom: 0.5rem; margin-top: 10px;color:#828cff">Whitelisted Bot-Channels:</h5>
                            <p style="font-style: italic;" class="disabled">All Bot Channels which are Whitelisted! | The Bot will only responde to Commands in one of those Channels!</p>
                            <select>
                                <% guild.channels.cache
                                    .filter(channel=> channel.isText() && channel.permissionsFor(botClient.user).has(["VIEW_CHANNEL", "SEND_MESSAGES", "EMBED_LINKS"]))
                                    .sort((a, b) => a.rawPosition - b.rawPosition)
                                    .forEach((channel, i) => { %>
                                    <option value="<%= channel.id%>" 
                                        <%= botClient.settings.get(guild.id, "botchannel").includes(channel.id) ? "selected" : "" %>> #<%= channel.name%>
                                    </option>
                                <% }) %>
                            <h1><br><br><h1>
                            </select>
                                <button type="submit" class="btn btn-success text-white" style="font-size: 40px;">
                                    <i class="iconify" data-icon="cil:save"></i> Save Settings
                                </button>                                
                            

  <!-- FOOTER -->
  <section>

	</div>

	<!-- Call To Action -->
	<!-- Footer -->
	<div class="footer footer--dark">
		<div class="container">
			<div class="footer__inner">
				<a class="footer__textLogo">By AllyDevz</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<script src='/app.min.js'></script>
</body>
</html>